@import "agency.scss";
@import "_breakpoints.scss";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: left !important; }
    .text#{$infix}-right  { text-align: right !important; }
    .text#{$infix}-center { text-align: center !important; }

    .list-unstyled#{infix} { list-style: none; }
  }
}

.festivaplauso-header {
    margin-top: 70px;
}

